/*

    Copyright 2016 Jure Sah <dustwolfy@gmail.com>

    This file is part of Podarjalna.

    Podarjalna is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Podarjalna is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Podarjalna.  If not, see <http://www.gnu.org/licenses/>.
    
    Please refer to the README file for additional information.

*/

html, body {
 height: 100%;
 font-family: sans-serif;
 padding: 0px 1cm;
 text-align: justify;
}

.items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 250px;
	float: left;
}

.item-image {
	height: 100px;
	width: 100px;
	border: 1px solid gray;
	padding: 1px;
	margin: auto;
	background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}

.item-name {
	text-align: center;
	padding: 10px;
}

.item-large {
	width: 100%;
}

.item-image-large {
	height: 300px;
	width: auto;
	max-width: 90%;
	padding: 1px;
	margin: auto;
	background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
}

.item-name-large {
	padding: 10px;
}

.item-details-large {
 padding-top: 10px;
 
 width: 50%;
 float: left;
}

.item-buttons-large {
 text-align: right;
 padding-top: 40px;
 width: 50%;
 float: left;
}

.item-price-large {
 font-weight: bold;
}

.g-recaptcha {
 position: relative;
}

.g-recaptcha div { 
 position: absolute;
 right: 0px;
 margin-left: auto; 
 margin-right: auto;
}

.captcha-padding {
 padding-top: 78px;
}
